<header>
    <a  class="main-title" href="{{ path('main_connecte') }}">
        <h1 class="main-title">SORTIR.COM</h1>
    </a>
    <a href="{{ path('app_register') }}">S'inscrire</a>
    <a href="{{ path('app_login') }}">Se connecter</a>
    <a href="{{ path('app_logout') }}">Se déconnecter</a>
</header>