{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Profil{% endblock %}

{% block body %}
    <h1 class="profil-title">Mon Profil</h1>
    <div class="profil-bloc">
        <div class="profil-pic"></div>
        <div class="profil-form">

        </div>
    </div>
{% endblock %}



