{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <h1>Modifier campus</h1>
    {{ form_start(campusForm) }}
    {{ form_widget(campusForm) }}
    <button>Valider</button>
    {{ form_end(campusForm) }}
{% endblock %}