{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block body %}
<p>page accueil connecté</p>
    <a href="{{ path('sortie_ajouter') }}">Créer une sortie</a>
{% endblock %}
