header {
    display: flex;
    width: 1200px;
    height: 150px;
    text-align: center;
    border: solid 1px;
    margin: auto;
}
.main-title {
    font-size: 50px;
    margin: auto;
}
.main-content {
    width: 1200px;
    margin: auto;
    border: solid 1px;
}
footer {
    display: flex;
    width: 1200px;
    height: 50px;
    margin: auto;
    border: solid 1px;
    text-align: center;
}
.copyright {
    margin: auto;
}
.login-form {
    padding: 100px;
}
.register-form {
    padding: 100px;
}