/*CSS lié à la page login*/
.login-title {
    color: #0d6efd;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}
.login-bloc {
    margin: 0 auto;
    width: 350px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px lightgrey;
    padding: 30px;
}
.login-buttons {
    display: flex;
    margin: 0 auto;
    text-align: center;
}
.remember-me {
    padding-top: 30px;
    margin: 0 auto;
}
.btn-login {
    margin-right: 15px;
    margin-top: 20px;
    padding: 10px;
    font-family: arial;
    font-size: 1em;
    color: #FFFFFF;
    background-color: #548dd4;
    border: none;
}
.btn-login:hover {
    padding: 10px;
    color: #ffffff;
    background-color: #17365d;
    border: 0px solid #FFFFFF;
}
header {
    display: flex;
    width: 1200px;
    height: 150px;
    text-align: center;
    border: solid 1px;
    margin: auto;
}
.header-links {
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.header-link {
    text-decoration: none;
    padding-left: 50px;
    font-size: 25px;
    margin: auto;
    color: black;
}
.main-title {
    font-size: 50px;
    margin: auto;
    text-decoration: none;
}
.main-content {
    width: 1200px;
    margin: auto;
    border: solid 1px;
}
footer {
    display: flex;
    width: 1200px;
    height: 50px;
    margin: auto;
    border: solid 1px;
    text-align: center;
}
.copyright {
    margin: auto;
}
.login-form {
    padding: 100px;
}
.register-form {
    padding: 100px;
}
/*CSS lié au profil du participant*/
.profil-bloc {
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    border: solid 1px #0d6efd;
    padding: 50px;
}
.profil-title {
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 35px;
}
.profil-pic {
    width: 200px;
    height: 200px;
}
.avatar {
    width: 196px;
    height: 196px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px lightgrey;
}
.participant-form {
    /*border: solid 1px black;*/
    width: 700px;
}
.flash {
    text-align: center;
}
/*CSS Lié à la partie accueil en mode connecté*/
.filtrer-title {
    font-size: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #0d6efd;
}
.bloc-filtres {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin: 0 auto;
    border: solid 1px #0d6efd;
    border-radius: 15px;
    padding: 15px;
    background-color: #dbeafe;
}
.filtres-droite {
    margin: auto;
}
.btn-chercher-sortie {
    margin: auto;
}
.form-check-label {
    width: 350px;
    padding-bottom: 10px;
}
.plage-dates {
    display: flex;
    justify-content: space-between;
}
table {
    margin: auto;
    width: 1100px;
}
.mini-bloc-date {
    display: flex;
    padding: 10px;
    margin-left: 790px;
    margin-top: 30px;
    margin-right: 60px;
    /*border: solid 1px black;*/
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 5px 5px 5px lightgrey;
}
.mini-avatar {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border: solid 1px grey;
    border-radius: 10px;
}
.mini-bloc-infos {
    margin: 0 auto;
    padding-top: 5px;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #dbeafe;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #0d6efd;
}
.btn-sortie {
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    font-family: arial;
    font-size: 1em;
    color: #FFFFFF;
    background-color: #548dd4;
    border: none;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
.btn-sortie:hover {
    padding: 10px;
    color: #ffffff;
    background-color: #17365d;
    border: 0px solid #FFFFFF;
}
/*CSS lié à l'affichage d'une sortie*/
.detail-sortie-body {
    width: 1100px;
    margin: auto;
}
.detail-sortie-title {
    text-align: center;
    color: #0d6efd;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.participant-title {
    color: #0d6efd;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sortie-bloc {
    display: flex;
    width: 1100px;
    margin: 0 auto;
    justify-content: space-around;
    font-size: 20px;
    border: solid 1px #0d6efd;
    border-radius: 15px;
    padding: 30px;
}
.sortie-bloc-gauche {
    display: flex;
    width: 500px;
    justify-content: space-around;
}
.sortie-bloc-droit {
    display: flex;
    width: 500px;
    justify-content: space-around;
}
.label-sortie {
    font-weight: bold;
}
/*CSS lié à la modification de sortie*/
.modif-sortie-form {
    display: flex;
    width: 1100px;
    margin: 0 auto;
    justify-content: space-around;
    font-size: 20px;
    border: solid 1px #0d6efd;
    border-radius: 15px;
    padding: 30px;
}
.buttons-bloc {
    margin: 0 auto;
}
.modif-sortie-title {
    text-align: center;
    color: #0d6efd;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}
/*CSS lié à la création d'une sortie*/
.creer-sortie-title {
    text-align: center;
    color: #0d6efd;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.creer-sortie-form {
    display: flex;
    width: 1100px;
    margin: 0 auto;
    justify-content: space-around;
    font-size: 20px;
    border: solid 1px #0d6efd;
    border-radius: 15px;
    padding: 30px;
}
/*CSS lié au popup d'ajout du lieu*/
#modal{
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}
#modal.open{
    display: block;
}
#modal .mask{
    background: black;
    opacity: 0.8;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#modal .container{
    position: absolute;
    background: white;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 800px;
    height: auto;
    min-height: 50px;
    padding: 30px;
    border-radius: 15px;
}
#modal .container .message{
    padding: 5% 15% 5% 5%;
}
#modal .container a.close{
    position: absolute;
    right: 5%;
    top:5%;
    color: #444;
    font-size: 30px;
}
#modal .container a.close:hover{
    color: red;
}