{% extends 'base.html.twig' %}

{% block body %}
<h1>Gérer les villes</h1>
    {% for ville in villes %}
        <p>{{ ville.nom }} {{ ville.codePostal }} <a href="#">Modifier</a> <a href="{{ path('ville_suprimer', {'id': ville.id}) }}">Supprimier</a></p>
    {% endfor %}
{% endblock %}

{% block title %}

{% endblock %}